*{
    margin: 0;
    padding: 0;
}

Button {
    -fx-border-color: green;
    -fx-border-width: 3px;
    -fx-text-fill: lightcoral;
    -fx-background-color: green;
}

TextField {
    -fx-pref-width: 20%;
    -fx-pref-height: 100%;
    -fx-padding: 2px;
    -fx-margin: 2px;
    -fx-font-size: 15px;
}
